<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/body.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>FEND Capstone - Travel App</title>
  </head>
  <body>
    <main class="wrapper">
      <section class="section-one">
        <div class="main-content">
          <div class="heading">
            <h1>Let's plan that awesome trip you've always wanted!</h1>
          </div>

          <div class="the-form">
            <form>
              <input
                type="text"
                id="location"
                name="location"
                placeholder="Location"
              />
              <br />
              <br />
              <input type="date" id="from" name="from" placeholder="From" />
              <br />
              <br />
              <input type="date" id="to" name="to" placeholder="From" />
              <br />
              <br />
              <br />
              <input type="submit" name="" id="go" value="Goooooo..." />
            </form>
          </div>
        </div>
        <div class="main-image">
          <!-- Image gotten from Travel illustrations by Storyset (https://storyset.com/illustration/trip/cuate) -->
          <img
            src="https://res.cloudinary.com/layinkawebdev/image/upload/v1633555154/Udacity/trip-cuate_mx97wb.png"
            alt="Traveller"
          />
        </div>
      </section>
      <section class="section-two">
        <div class="trips">
          <h1>My Trips</h1>
        </div>
      </section>
    </main>
  </body>
</html>
